body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:416px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4173 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:696px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
}
#u4174 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:696px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
}
#u4175 {
  position:absolute;
  left:2px;
  top:340px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4176 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
}
#u4177 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:42px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
}
#u4178 {
  position:absolute;
  left:2px;
  top:13px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Bold', '华文黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4179 {
  position:absolute;
  left:132px;
  top:5px;
  width:163px;
  height:28px;
  font-family:'华文黑体 Bold', '华文黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4180 {
  position:absolute;
  left:2px;
  top:3px;
  width:159px;
  word-wrap:break-word;
}
#u4181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
}
#u4181 {
  position:absolute;
  left:6px;
  top:6px;
  width:17px;
  height:25px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
}
#u4182 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4183 {
  position:absolute;
  left:0px;
  top:3px;
  width:61px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4185 {
  position:absolute;
  left:0px;
  top:42px;
  width:416px;
  height:654px;
}
#u4185_input {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:654px;
}
