body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:416px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4006 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:696px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'BatangChe Regular', 'BatangChe';
  font-weight:400;
  font-style:normal;
}
#u4007 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:696px;
  font-family:'BatangChe Regular', 'BatangChe';
  font-weight:400;
  font-style:normal;
}
#u4008 {
  position:absolute;
  left:2px;
  top:340px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
}
#u4010 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:42px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
}
#u4011 {
  position:absolute;
  left:2px;
  top:13px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Bold', '华文黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4012 {
  position:absolute;
  left:132px;
  top:5px;
  width:163px;
  height:28px;
  font-family:'华文黑体 Bold', '华文黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4013 {
  position:absolute;
  left:2px;
  top:3px;
  width:159px;
  word-wrap:break-word;
}
#u4014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
}
#u4014 {
  position:absolute;
  left:6px;
  top:6px;
  width:17px;
  height:25px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
}
#u4015 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4016 {
  position:absolute;
  left:0px;
  top:3px;
  width:64px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4018 {
  position:absolute;
  left:15px;
  top:104px;
}
#u4018_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4018_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4019 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:16px;
  width:382px;
  word-wrap:break-word;
}
#u4018_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4018_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4021 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4022 {
  position:absolute;
  left:2px;
  top:16px;
  width:382px;
  word-wrap:break-word;
}
#u4023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4023 {
  position:absolute;
  left:177px;
  top:59px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4024 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4025 {
  position:absolute;
  left:15px;
  top:175px;
}
#u4025_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4025_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4026 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4027 {
  position:absolute;
  left:2px;
  top:16px;
  width:382px;
  word-wrap:break-word;
}
#u4025_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4025_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4028 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4029 {
  position:absolute;
  left:2px;
  top:16px;
  width:382px;
  word-wrap:break-word;
}
#u4030 {
  position:absolute;
  left:15px;
  top:245px;
}
#u4030_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4030_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4031 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4032 {
  position:absolute;
  left:2px;
  top:16px;
  width:382px;
  word-wrap:break-word;
}
#u4030_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4030_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4033 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4034 {
  position:absolute;
  left:2px;
  top:16px;
  width:382px;
  word-wrap:break-word;
}
#u4035 {
  position:absolute;
  left:15px;
  top:316px;
}
#u4035_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4035_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4036 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4037 {
  position:absolute;
  left:2px;
  top:16px;
  width:382px;
  word-wrap:break-word;
}
#u4035_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4035_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4038 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4039 {
  position:absolute;
  left:2px;
  top:16px;
  width:382px;
  word-wrap:break-word;
}
#u4040 {
  position:absolute;
  left:15px;
  top:386px;
}
#u4040_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4040_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4042 {
  position:absolute;
  left:2px;
  top:16px;
  width:382px;
  word-wrap:break-word;
}
#u4040_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4040_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4043 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4044 {
  position:absolute;
  left:2px;
  top:16px;
  width:382px;
  word-wrap:break-word;
}
#u4045 {
  position:absolute;
  left:15px;
  top:457px;
}
#u4045_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4045_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4046 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4047 {
  position:absolute;
  left:2px;
  top:16px;
  width:382px;
  word-wrap:break-word;
}
#u4045_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4045_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4048 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:55px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4049 {
  position:absolute;
  left:2px;
  top:16px;
  width:382px;
  word-wrap:break-word;
}
