body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:416px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:696px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:696px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
}
#u655 {
  position:absolute;
  left:2px;
  top:340px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
}
#u657 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:42px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
}
#u658 {
  position:absolute;
  left:2px;
  top:13px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
}
#u659 {
  position:absolute;
  left:6px;
  top:6px;
  width:17px;
  height:25px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
}
#u660 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u661 {
  position:absolute;
  left:0px;
  top:3px;
  width:59px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 102, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Bold', '华文黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u662 {
  position:absolute;
  left:132px;
  top:5px;
  width:163px;
  height:28px;
  font-family:'华文黑体 Bold', '华文黑体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u663 {
  position:absolute;
  left:2px;
  top:3px;
  width:159px;
  word-wrap:break-word;
}
#u664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u664 {
  position:absolute;
  left:14px;
  top:52px;
  width:388px;
  height:22px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u665 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  word-wrap:break-word;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u668 {
  position:absolute;
  left:10px;
  top:98px;
  width:390px;
  height:49px;
  text-align:left;
  line-height:20px;
}
#u669 {
  position:absolute;
  left:2px;
  top:4px;
  width:386px;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#33CC66;
}
#u670 {
  position:absolute;
  left:13px;
  top:74px;
  width:129px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#33CC66;
}
#u671 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u673 {
  position:absolute;
  left:10px;
  top:185px;
  width:390px;
  height:69px;
  text-align:left;
  line-height:20px;
}
#u674 {
  position:absolute;
  left:2px;
  top:4px;
  width:386px;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#33CC66;
}
#u675 {
  position:absolute;
  left:13px;
  top:161px;
  width:237px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#33CC66;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u677 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:69px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u678 {
  position:absolute;
  left:13px;
  top:292px;
  width:390px;
  height:69px;
  text-align:left;
  line-height:20px;
}
#u679 {
  position:absolute;
  left:2px;
  top:4px;
  width:386px;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#33CC66;
}
#u680 {
  position:absolute;
  left:16px;
  top:268px;
  width:273px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#33CC66;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u682 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u683 {
  position:absolute;
  left:13px;
  top:400px;
  width:390px;
  height:38px;
  text-align:left;
  line-height:20px;
}
#u684 {
  position:absolute;
  left:2px;
  top:9px;
  width:386px;
  word-wrap:break-word;
}
#u685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#33CC66;
}
#u685 {
  position:absolute;
  left:16px;
  top:376px;
  width:165px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#33CC66;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u687 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u688 {
  position:absolute;
  left:16px;
  top:476px;
  width:390px;
  height:38px;
  text-align:left;
  line-height:20px;
}
#u689 {
  position:absolute;
  left:2px;
  top:9px;
  width:386px;
  word-wrap:break-word;
}
#u690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#33CC66;
}
#u690 {
  position:absolute;
  left:19px;
  top:452px;
  width:129px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#33CC66;
}
#u691 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u693 {
  position:absolute;
  left:13px;
  top:550px;
  width:390px;
  height:49px;
  text-align:left;
  line-height:20px;
}
#u694 {
  position:absolute;
  left:2px;
  top:4px;
  width:386px;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#33CC66;
}
#u695 {
  position:absolute;
  left:16px;
  top:528px;
  width:93px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#33CC66;
}
#u696 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:83px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u697 {
  position:absolute;
  left:10px;
  top:626px;
  width:390px;
  height:83px;
  text-align:left;
  line-height:20px;
}
#u698 {
  position:absolute;
  left:2px;
  top:34px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u699 {
  position:absolute;
  left:14px;
  top:609px;
  width:388px;
  height:22px;
  font-family:'华文黑体 Regular', '华文黑体';
  font-weight:400;
  font-style:normal;
  line-height:20px;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  word-wrap:break-word;
}
